body{
    color: beige;
    background-color: #1d1b1e;
    background-image: url(couverture.jpg) ; 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;   
}
h4{
    padding-top: 50px;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    color: #00ff1A;
    padding-bottom: 50px;
}
.bloc{
    text-align: center;
    width: 380px;
    height: auto;
    background: black;
    border: 1px solid rgb(87, 245, 3); 
    margin-top: 260px; 
    margin-left: 150px;               
}
.text{     
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-size: 22px;
    position: relative;
    display: flex;
    flex-flow: column wrap;
    align-items: center;    
}
.btnr{
    margin-top: 50px;
    background-color: rgb(58, 58, 64);
    color: white;   
    margin-bottom: 60px;    
}    
.btnr:hover{
    border: 1px solid ;
    color: #00ff1A;
    background-color: black;
}
ul li{
    color : rgb(237, 94, 101);
    font-size: 14px;
    list-style-type: none;   
    padding-right: 30px;
}
label{
    margin-bottom: 0.8rem;
}
.petit{
    font-size: 14px;
    width: 100%;
    font-weight: none;
}
span{
    color:rgb(98, 98, 236);
}
@media screen and (max-width: 800px){ 
    body{
        color: beige;
        background-color: #1d1b1e;
        background-image: url(port.jpg) ; 
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;   
    }
    .bloc{
        text-align: center;
        width: 380px;
        height: auto;
        background: black;
        border: 1px solid rgb(87, 245, 3); 
        margin-top: 80px; 
        margin-left: 50px;               
    }
}
@media screen and (max-width: 450px){ 
    .bloc{
        text-align: center;
        width: 100%;
        height:auto;
        background: black;
        border: 1px solid rgb(87, 245, 3); 
        margin-top: 65px; 
        margin-left: 0%;
                             
    }
    .text{     
        font-family: 'Times New Roman', Times, serif;
        font-weight: lighter;
        font-size: 12px;
        position: relative;
        display: flex;
        flex-flow: column wrap;
        align-items: center;    
    }
    .petit{
        font-size: 12px;
        width: 100%;
        font-weight: none;
    }

}
