body{
    background-color: #1b1a1b;
    color: white;
    overflow-x: hidden;
}
.top{
    margin-top: 140px;  
    margin-left: 50px; 
    font-size: 22px;
  }

.float {
    height: 560px;
    width: 420px;
    object-fit: cover; 
}

.suffit{
    color: #00ff1abb!important;
}
#button{ 
   align-items: center; justify-content: center;
   border: 1px solid rgb(97, 95, 95);
   transition: .3s ease-in-out;
}
#button:hover{
    background-color: black;
    border: 1px solid black;
    color: #00ff1A;
}

input[type="checkbox"]{
    position: relative;
    width: 40px;
    height: 20px;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 10px;
    appearance: none;
    -webkit-appearance: none;
    background: rgba(74, 76, 75, 0.525);
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(240, 234, 234, 0.951);
    transition: .3s; 
}
input:checked[type="checkbox"]{
    background: #00ff1A
}
input[type="checkbox"]:after{
    content:'';
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 20px;
    top: 0;
    left: 0;
    background: beige;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0,.2);
    transition: .3s;
}
input:checked[type="checkbox"]::after
{
    left: 20px 
} 
.nom{
    text-decoration: none;
    color:rgba(240, 234, 234, 0.951)
}
@media screen and (max-width: 800px){ 
    .float{
        width: 25vw;
        height: 25vh;
    }
    .top{
        margin-top:4rem;
        margin-left: 15px;
        font-size: 16px;
        overflow-x: hidden; 
    }
    #button{
        font-size: 16px;
        margin-bottom: 3rem;
    }
    input[type="checkbox"]{
        position: relative;
        width: 30px;
        height: 15px;
        margin-right: 1rem;
        margin-left: 1rem;
        margin-top: 10px;
        appearance: none;
        -webkit-appearance: none;
        background: rgba(74, 76, 75, 0.525);
        outline: none;
        border-radius: 10px;
        box-shadow: inset 0 0 5px rgba(240, 234, 234, 0.951);
        transition: .3s; 
    }
    input:checked[type="checkbox"]{
        background: #00ff1A
    }
    input[type="checkbox"]:after{
        content:'';
        position: absolute;
        width: 14px;
        height: 14px;
        border-radius: 20px;
        top: 0;
        left: 0;
        background: beige;
        transform: scale(1.1);
        box-shadow: 0 2px 5px rgba(0, 0, 0,.2);
        transition: .3s;
    }
    input:checked[type="checkbox"]::after
    {
        left: 20px 
    } 
}