{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block head %}
<link rel="stylesheet" href="{% static 'partner.css' %}"> 
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css">
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js" defer></script>
{% endblock head %}

{% block title %}structure{% endblock title %}


{% block content %}
<div class="swiper">
  <div class="swiper-wrapper">

{% for structure in structures %}
    <div class ="swiper-slide col-md-3 carte">
        <div class="card card-sm" >
            <div class="style-dance">
            <img src="{{ structure.photo.url }}" class="ville card-img-top" style ="height: 15rem;" alt="{{ structure.photo.url }}">               
            </div>               
            <div class="card-body text-center">
                <h3 class="card-title"><spam spam class="anime" style="color: #00ff1A">API</spam> -{{ structure.nom }}</h3><br>
                <p class="card-text">{{ structure.adresse }}</p>
                <p class="card-text">Partenaire : {{ structure.part }}</p>
                <p class="card-text"><i class="far fa-id-badge"></i> {{ structure.user.nom }}</p>
                <p class="card-text"><i class="fas fa-mobile-alt"></i> {{ structure.numberPhone|phoneNumber }} </P>
                <a hx-trigger="click" hx-swap="outerHTML" hx-select-oob="#page" hx-push-url="true" hx-get="{% url 'detail' structure.pk %}" class="btn btn-dark">Ses options</a>
                <a hx-trigger="click" hx-swap="outerHTML" hx-select-oob="#page" hx-push-url="true" hx-get="{% url 'responsable' structure.pk %}" class="btn btn-dark">Le responsable</a>
            </div>
        </div>            
    </div>    
{% endfor %}
</div>
            <div class="swiper-pagination">pagination</div>     
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>            
            <div class="swiper-scrollbar"></div>
</div>
{% endblock content %}

{% block javascript %}
<script type="module">
  const swiper = new Swiper('.swiper', {
            pagination: {
          el: '.swiper-pagination',
          type: 'bullets',
        }, 
      breakpoints: {
        // when window width is >= 320px
        0: {
          init: true,
          nested: true,
          slidesPerView: 1,         
          centeredSlides: true,
          focusableElements: 'button',
          cssMode:false,
          spaceBetween: 10,
          allowTouchMove:true,
          loop:true,         
          hiddenClass: 'swiper-pagination-hidden',
          paginationDisabledClass:'swiper-pagination-disabled',
        },
        // when window width is >= 480px
        750: {
          init: true,
          nested: true,
          slidesPerView: 2,
          centeredSlides: false,
          focusableElements: 'button',
          navigationDisabledClass: "swiper-button-prev",
          cssMode:false,
          centerInsufficientSlides:true,
          spaceBetween: 5,
          allowTouchMove:true,
          loop:true,           
        },
        // when window width is >= 640px
        1250: {
          pagination: {
            el: '.swiper-pagination',
            type: 'bullets',
          }, 
          init: true,
          nested: true,
          slidesPerView: 3,
          centeredSlides: true, 
          focusableElements: 'button',
          spaceBetween: 10,
          loop:true,
          allowTouchMove:true,
          noSwiping:true,             
        },
        1500: {
          init: true,
          nested: true,              
          slidesPerView: 3,
          focusableElements: 'button',
          centeredSlides: true,
          spaceBetween: 10,
          loop:true,
          allowTouchMove:false,       
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
          },
          },
          pagination: {
            el: '.swiper-pagination',
            type: 'bullets',
          },      
        2200: {
          init: true,
          nested: true,
          slidesPerView: 4,
          autoplay: true,
          centerInsufficientSlides:true,
          focusableElements: 'button',
          spaceBetween: 40,
          loop:true,
          allowTouchMove:false,
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
          },
          pagination: {
            el: '.swiper-pagination',
            type: 'bullets',
          },        
        }
      }  
    });
</script>
{% endblock javascript %}