{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'reset.css' %}"> 
{% endblock head %}

{% block title %}Change Password{% endblock title %}

{% block content %}
<div class="blocs">
    <method = POST>
            {% csrf_token %} 
        <h2>Changement de Mots de Passe</h2>
    <form>{{ form.as_p }}</form><br>
    <button class="btn btnr" type="submit">Envoyer</button>       
</div>
{% endblock %}
{% block javascript %}{% endblock javascript %}