{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'reset.css' %}"> 
{% endblock head %}

{% block title %}reset-password{% endblock title %}

{% block content %}
<div class="bloc">
  <h2>Tapez votre nouveau mot de passe :</h2> 
  <form method="POST">
    {% csrf_token %}
      <div class="form-group">
        {{ form.as_p}} 
      </div>
  <button class="btn btnr" type="submit">Envoyer</button>    
  </form>    
</div>
{% endblock %}
{% block javascript %}{% endblock javascript %}