{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'reset.css' %}"> 
{% endblock head %}

{% block title %}reset-password{% endblock title %}

{% block content %}

<div class="blocs">
  <h2>Récupération de mot de Passe</h2>      
  <form method ="POST">
    {% csrf_token %}
    <p> {{ label }}</p>
    <p> {{ form }} </p>    
 
  <button class="btn btnr" type="submit">Envoyer</button>    
  </form>    
</div>
{% block javascript %}{% endblock javascript %}


{% endblock %}