{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'signup.css' %}"> 
{% endblock head %}

{% block title %}ajouter option{% endblock title %}

{% block content %}
<div class="bloc">
    <h1>Créer<spam style="color: white; font-style: italic;"> une option</spam></h1>
    <form method ="POST" enctype="multipart/form-data">
        <div class="form-group align form mb-3">
                {% csrf_token %}   
                {% for error, message in errors.items %}
                <h5 style="color: red;">{{ message }}</h5>
                {% endfor %}   

                <label>Titre :</label> 
                {% render_field  form.slug hx-post="/check_slug/" hx-trigger="keyup" hx-target="#titre-error" %} 
                <div id="titre-error"></div><Br>    

                <label id="lab"><span id="titredescription" class="me-6">Description :</span><span id="compteur1"></span></label>                 
                {% render_field  form.description id="zoneTexte" %}<br>      
               
                <p><button hx-post="{% url 'add-option' %}" hx-target="#dash" class="btn btnr bg-dark" type="submit" value="submit" >Valider</button>
                    <a hx-target="#dash" hx-get="{% url 'dashboard_option' %}"class="btn btnr btn-dark">Retour</a></p>            
        </div>
    </form>
</div>
{% endblock %}
{% block javascript %}
<script>
    document.getElementById('zoneTexte').addEventListener('keyup', function() {
        document.getElementById('compteur1').innerHTML = 90 - zoneTexte.value.length;
    });
</script>
{% endblock javascript %}
