{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block head %}
<link rel="stylesheet" href="{% static 'dash.css' %}">
{% endblock head %}

{% block title %}Mon partenaire{% endblock title %}

{% block content %}
<div class="container">
    <div class="top">   
        <div class="row">
            <div class="col-8">   
                <p><span class="suffit"> Nom :</span> {{user.structure}}</P>
                    <p><span class="suffit"> Responsable :</span> 
                        {% if user.structure.nom %}
                        <a hx-target="#page" hx-get="{% url 'profils' %}" class="nom">{{user.nom}}</a></p>
                        {% else %}
                        inconnu</p>
                        {% endif %}
                    <p><span class="suffit"> Adresse :</span>
                    {{user.structure.adresse}} </P>
                    <p><span class="suffit"> Partenaire :</span>
                    {{user.structure.part}}</P>
                    <p><span class="suffit"> Membres :</span>
                    {{user.structure.membre}}</p>
                    <p><span class="suffit"> Haman :</span> 
                    {% if user.structure.haman %}
                    <img src={% static 'vert.png' %}  style="width:20px;margin-left:1rem;"></p>
                    {% else %}                                      
                    <img src={% static 'false.png' %} style="width:20px;margin-left:1rem;"></p>
                    {% endif %}
                    <p span class="suffit"> Sauna :</span> 
                    {% if user.structure.sauna %}
                    <img src={% static 'vert.png' %}  style="width:20px;margin-left:1rem;"></p>
                    {% else %}                                      
                    <img src={% static 'false.png' %}  style="width:20px;margin-left:1rem;"></p>
                    {% endif %}
                    <p><span class="suffit"> Piscine :</span>  
                    {% if user.structure.piscine %}
                    <img src={% static 'vert.png' %}  style="width:20px;margin-left:1rem;"></p>
                    {% else %}                                      
                    <img src={% static 'false.png' %}  style="width:20px;margin-left:1rem;"></p>
                    {% endif %}
                    <p><span class="suffit"> Numeros :</span>{{user.structure.numberPhone|phoneNumber}}</P>   
                    <p><button hx-target="#page" hx-push-url="true" hx-get="{% url 'modifstructure' pk=user.structure.pk %}" class="btn btn-dark btn-lg" tabindex="-1" role="button" id="button" aria-disabled="true">Modifier</button>
                    <button hx-target="#page" hx-push-url="true" hx-get="{% url 'user_option_structure' user.structure.pk %}" class="btn btn-dark btn-lg" tabindex="-1" role="button" id="button" aria-disabled="true">Option</button></p> 
            </div>          
            <div class="col-4">
                {{ user.structure.option.slug.Bar }}
                <div class="tech">
                {% if user.structure.photo.url %} 
                <img src={{ user.structure.photo.url }} class="rounded-3 img-fluid float"  alt={{ structure.photo.url }}>
                {% else %}
                <img src={% static 'inconnu.jpg' %} class="rounded-3 img-fluid float"  alt="inconnu.jpg">
                {% endif %}
                </div>
            </div>      
        </div>   

{% endblock content %}
{% block javascript %}{% endblock javascript %}