{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'signup.css' %}"> 
{% endblock head %}

{% block title %}Modifier structure{% endblock title %}

{% block content %}
<div class="bloc">
    <h1>Modifier<spam style="color: white; font-style: italic;"> une structure</spam></h1>   
    <form method ="POST" enctype="multipart/form-data" hx-encoding="multipart/form-data">        
        <div class="form_structure align form" >
                {% csrf_token %}   
                {% for error, message in errors.items %}
                <h5 style="color: red;">{{ message }}</h5>
                {% endfor %}           
                <label>Nom de la structure :</label>             
                {% render_field form.nom placeholder="Nom" hx-post="/check_nameStructure/" hx-trigger="keyup" hx-target="#nameStructure-error" %}
                <div id="nameStructure-error"></div><Br>

                <label>Adresse de la structure :</label>             
                {% render_field form.adresse placeholder="Adresse" %}<Br>
                
                <label>Nombre de membre :</label>             
                {% render_field form.membre %}<Br>
                
                <label>Téléphone :</label>             
                {% render_field form.numberPhone placeholder="Tel" hx-post="/check_tel/" hx-trigger="keyup" hx-target="#tel-error" %}
                <div id="tel-error"></div><Br>
                
                <label>Option :</label><br>             
                {% render_field form.option %}<Br>
                
                <label>Partenaire :</label><br>          
                {% render_field form.part %}<Br>
                
                <label>Responsable de la structure :</label><br>            
                {% render_field form.user %}<Br>

                <label>Photo :</label><br>             
                {% render_field form.photo %}<Br>
                          
               
                <div id="complex"><div>{% render_field form.piscine %}  <label class="complex">Piscine</label></div>        
                   <div>{% render_field form.haman %}  <label class="complex">Haman</label></div>                         
                   <div>{% render_field form.sauna %}  <label class="complex">Sauna</label></div>
                </div>
                
                       
                <p><button hx-target="#dash"  hx-push-url="true" hx-post="{% url 'modif-structure-valide' structures.pk %}" class="btn btnr bg-dark" type="submit" value="submit" >Valider</button> 
                <a hx-target="#dash"  hx-push-url="true" hx-get="{% url 'dashboard_structure' %}"class="btn btnr btn-dark">Retour</a></p>           
            </div>
        </div>
    </form>
</div>

{% endblock %}
{% block javascript %}{% endblock javascript %}